@model Infrastructure.Models.PaymentPlan

@{
    ViewBag.Title = "Details Payment Plan";
}

<h2 class="my-5">Details</h2>

<div>
    <h4>Payment Plan Items</h4>
    <hr />
    <dl class="dl-horizontal">




        <dt>
            This plan includes:
        </dt>

        <dd>
            <ul>
                @foreach (var c in Model.PaymentItem)
                {
                    <li class="my-2">ID - @c.IDItem | @c.Description : $@c.Price</li>
                }
            </ul>

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total) : $@Html.DisplayFor(model => model.Total)
        </dt>

    </dl>
</div>
<p>
    
    
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
   
</p>
