@model IEnumerable<Infrastructure.Models.PaymentPlan>

@{
    ViewBag.Title = "Payment Plan";
}

<h2 class="mt-5 mb-3 text-center">Payment Plans</h2>


<div class=" mt-1 mb-5">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card w-75 m-auto my-5">
                <img src="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    @Html.ActionLink("Details", "Details", new { id = item.IDPlan }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }
</div>
