@{
    ViewBag.Title = "Log In";
}



<div class="row">
    <div id="contenedor">
        <div id="central">
            <div id="login">
                <div class="titulo">
                    Welcome
                </div>
                <form id="loginform">
                    @Html.Label("Email")
                    @Html.TextBox("Email")

                    @Html.Label("Password")
                    @Html.TextBox("Password")

                    <button class="btn btn-default" type="submit" title="Ingresar" name="Ingresar">Login</button>
                </form>

            </div>

        </div>
    </div>
</div>
